version: '3.8'

# Quick deployment of network projects
services:
  # Firewall Labs
  pfsense-lab:
    image: pfsense/pfsense:latest
    container_name: pfsense-lab
    network_mode: bridge
    cap_add:
      - NET_ADMIN
    ports:
      - "8081:80"
      - "4443:443"
    volumes:
      - pfsense-config:/etc

  opnsense-lab:
    image: opnsense/opnsense:latest
    container_name: opnsense-lab
    network_mode: bridge
    cap_add:
      - NET_ADMIN
    ports:
      - "8082:80"
      - "4444:443"

  # VPN Labs
  wireguard-lab:
    image: linuxserver/wireguard:latest
    container_name: wireguard-lab
    cap_add:
      - NET_ADMIN
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Africa/Accra
    volumes:
      - wireguard-config:/config
    ports:
      - "51820:51820/udp"

  openvpn-lab:
    image: openvpn/openvpn-as:latest
    container_name: openvpn-lab
    cap_add:
      - NET_ADMIN
    ports:
      - "943:943"
      - "443:443"
      - "1194:1194/udp"

  # Load Balancer Labs
  haproxy-lab:
    image: haproxy:latest
    container_name: haproxy-lab
    volumes:
      - ./haproxy/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
    ports:
      - "8083:80"
      - "8443:443"

  nginx-lb-lab:
    image: nginx:latest
    container_name: nginx-lb-lab
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "8084:80"

  traefik-lab:
    image: traefik:latest
    container_name: traefik-lab
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
    ports:
      - "8085:80"
      - "8086:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro

  # IDS/IPS Labs
  suricata-lab:
    image: jasonish/suricata:latest
    container_name: suricata-lab
    cap_add:
      - NET_ADMIN
    network_mode: host
    volumes:
      - suricata-logs:/var/log/suricata

  snort-lab:
    image: linuxserver/snort:latest
    container_name: snort-lab
    cap_add:
      - NET_ADMIN
    network_mode: host
    volumes:
      - snort-logs:/var/log/snort

  # SDN Labs
  ovs-lab:
    image: openshift/ovs:latest
    container_name: ovs-lab
    cap_add:
      - NET_ADMIN
    network_mode: host
    privileged: true

volumes:
  pfsense-config:
  wireguard-config:
  suricata-logs:
  snort-logs:
